
.card {
    background-color: lightseagreen;
    bottom:45%;
    position:absolute;
    font-family: 'Times New Roman', Times, serif;
}
.card:hover {
    background-color: darkseagreen;
    font-family: cursive;
    transform: rotate(360deg);
    /*animation-name: dance;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    */
}
/* TODO LIST:
    ADD HOVER ON SUBMIT

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
*/
@keyframes dance {

}
@keyframes flyin {
    0%{ left : 90%;}
    100%{ left: 1%;}
}       
body {
    background-color:lightblue;
}