
.card {
    background-color: lightseagreen;
    bottom:45%;
    position:absolute;
    font-family: 'Times New Roman', Times, serif;
}
.card:hover {
    background-color: darkseagreen;
    font-family: cursive;
    animation-name: dance;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
/* TODO LIST:
    ADD HOVER ON SUBMIT

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
*/
@keyframes dance {
0%   { transform: translate(-1px,  1px) rotate( 0deg); }
100% { transform: translate(-1px,  1px) rotate(-2deg); }
}
@keyframes flyin {
    0%{ left : 90%;}
    100%{ left: 1%;}
}       
body {
    background-color:lightblue;
}