
.card {
    background-color: lightseagreen;
    bottom:45%;
    position:absolute;
    font-family: 'Times New Roman', Times, serif;
}
.card:hover {
    background-color: darkseagreen;
    font-family: cursive;
    transition: 5s;
    transform: rotate(360deg);
    animation-name: dance;
    animation-duration: 6s;
}
#but {
    background-color: #FCFCFC;
}
#but:hover {
    animation-name: point;
    animation-duration: 1ms;
    animation-iteration-count: infinite;
}
@keyframes spin {
    100% { transform: rotate(360deg);}
}
@keyframes flyin {
    0%{ left : 90%;}
    100%{ left: 1%;}
}
@keyframes point {
    0% { cursor: pointer; background-color: lightslategray;}
    100% { cursor: pointer; background-color: lightslategray; }
}

body {
    background-color:lightblue;
}