/* teach_02 style */
#div1 {
 background-color: Navy;
 color: white;
 font-size: 12;
}
#div2 {
 background-color: Aqua;
 color: white;
 font-size: 16;
}
#div3 {
 background-color: IndianRed;
 color: white;
 font-size: 20;
}