/* teach_02 style */
#div1 {
 background-color: #333300;
 color: #FFFFFF;
}
#div2 {
 color: #FFFF33;
 text-align: center;
 font: italic 200% fantasy;
}
#div3 {
 background-color: #FFFF33;
 color: #333300;
 text-align: right;
 border: 3px groove #FFFF33;
}