/* teach_02 style */
#div1 {
 background-color: Navy;
 color: white;
 font-size: 12px;
}
#div2 {
 background-color: Black;
 color: white;
 font-size: 16px;
}
#div3 {
 background-color: IndianRed;
 color: white;
 font-size: 20px;
}

.divs:hover {
	font-weight: bold;
}